aside{ border-right: 0.4px solid gray;border-top: 0.4px solid gray; height: 82vh; }
.aside-list{  width:290px; }
.aside-change-icon{ display: none}
.content-list{  width: calc(100% - 290px); }

@media only screen and (max-width: 1170px) {
    .table-create{ width: 100%;}
    .lavel-create-width{ width:100%; }
    .td{ display: inline-block;  height: max-content;  width: 100%;   }
    .input-text{ width: 100%; }
    .input-textarea{width: 100%; }
    .position-r{ position:static;}
    .position-a{ position:static;}
}

@media only screen and (max-width: 740px) {
    .aside-list{  display: none;  }
    .content-list{  width: 100%;  }
}
@media only screen and (max-width: 570px) {
    .alert-save-item{display:block; }
    .alert-save-item-div>button{width: 100%;margin-bottom:9px}
    .alert-save-item>a{display: block;width: 100%; }
}