body{ position:relative;   font-family: "poppins"; }
body::-webkit-scrollbar { width: 10px; }
body::-webkit-scrollbar-track { background-color:white; border:0.3px solid black;  }
body::-moz-scrollbar-track { background-color: white;border-radius: 2px;box-shadow: white; }
body::-webkit-scrollbar-thumb { border-radius: 5px; background-color: gray; }
body::-moz-scrollbar-thumb { border-radius: 5px; background-color: gray; }




.add_icon_btn_in_list{
    background-color: var(--darkLight);
    border-radius: 12px;
    padding: 3px 8px;
    color: var(--white);
    outline: none;
    border: 2px solid black;
    font-size:13px
}

.Delete{
    width: 25px;
    height: 25px;
    border: 0.3px solid rgba(0 0 0/35%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6px;
    cursor: pointer;
}
.Delete>i{
    font-size: 14px;
}
.kbd{
    font-size: 12px;
}
